<% include partials/header %>
    <div class="ui main text container segment">
        <div class="ui huge header">
            <%= blog.title %> was deleted</div>
        <div class="ui top attached">
            <a href="/blogs">Back to other BLOGS!</a>
        </div>
    </div>
<% include partials/footer %>